.my-like-wrap{
	/* 购物车顶部*/
	.shop-top {
		width: 100%;
		height: 88rpx;
		width: 100%;
		line-height: 88rpx;
		padding: 0 32rpx;
		background: rgba(255, 255, 255, 1);
		box-sizing: border-box;
		position: fixed;
		left: 0;
		background: #fff;
		z-index: 2;
		/* #ifdef H5 */
		top: 76rpx;
		/* #endif */
		/* #ifndef H5 */
		top: 0rpx;
		/* #endif */
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		.edit-product {
			font-size: 28rpx;
			font-family: PingFang SC;
			font-weight: 500;
			color: rgba(135, 135, 135, 1);
		}
	
		.num {
			display: flex;
			align-items: center;
			font-size: 28rpx;
			font-family: PingFang SC;
			font-weight: 500;
			color: rgba(37, 37, 37, 1);
			text{
				color: #FF6600;
				font-size: 34rpx;
				margin: 0 6rpx;
				font-weight: bold;
			}
		}
	}
	/* 商品列表*/
	.tui-product-footer{
		width:100%;
		height:96rpx;
		background:rgba(255,255,255,1);
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 99;
		display: flex;
		text-justify: space-between;
		align-items: center;
		padding: 0 32rpx;
		box-sizing: border-box;
		font-size:28rpx;
		font-family:Microsoft YaHei;
		font-weight:400;
		color:rgba(49,49,49,1);
		.product-footer{
			height: 100%;
			flex: 1;
			display: flex;
		align-items: center;
		}
		.all-select-text{
			margin: 0 48rpx 0 8rpx;
		}
		.num{
			text{
				color: #FF6600;
				margin: 0 4rpx;
			}
		}
		.edit-product{
			width:200rpx;
			height:56rpx;
			background:rgba(255,255,255,1);
			border:1px solid rgba(215,216,217,1);
			border-radius:8rpx;
			font-size:28rpx;
			font-family:PingFang SC;
			font-weight:500;
			text-align: center;
			line-height: 56rpx;
			color:rgba(86,86,86,1)
		}
	}
	.tui-product-list {
		padding: 0 32rpx 0 32rpx;
		background: #F0F2F5;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		box-sizing: border-box;
		margin-top: 86rpx;
		.tui-product-item{
			position: relative;
			/* 商品列表*/
			.checkbox {
        width: 38rpx;
        height: 38rpx;
        background-size: 38rpx 38rpx;
        border: 1px solid rgba(204, 204, 204, 1);
        border-radius: 50%;
        box-sizing: border-box;
        checkbox {
          opacity: 0;
          position: relative;
          z-index: 999;
        }
        &.isChecked {
          position: relative;
          border: none;
          // color: rgba(255, 255, 255, 1) !important;
          &::before {
            content: '';
            background: url('https://dgg-xiaodingyun.oss-cn-beijing.aliyuncs.com/xdy-xcx/shop/select-icon.png') no-repeat;
            background-size: 38rpx 38rpx;
            position: absolute;
            border-radius: 50%;
            font-size: 24rpx;
            width: 38rpx;
            left: 0;
            position: absolute;
            z-index: 0;
            top: 0;
            height: 38rpx;
            text-align: center;
            line-height: 38rpx;
            z-index: 1;
            color: rgba(255, 255, 255, 1) !important;
          }
        }
        &.no-active{
          pointer-events: none;
          background: #eee;
        }
      }
		}
		.commodity{
			margin-bottom: 0;
			margin-top: 10px;
		}
	}
	.checkbox {
    width: 38rpx;
    height: 38rpx;
    background-size: 38rpx 38rpx;
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: 50%;
    box-sizing: border-box;
    checkbox {
      opacity: 0;
      position: relative;
      z-index: 999;
    }
    &.isChecked {
      position: relative;
      border: none;
      // color: rgba(255, 255, 255, 1) !important;
      &::before {
        content: '';
        background: url('https://dgg-xiaodingyun.oss-cn-beijing.aliyuncs.com/xdy-xcx/shop/select-icon.png') no-repeat;
        background-size: 38rpx 38rpx;
        position: absolute;
        border-radius: 50%;
        font-size: 24rpx;
        width: 38rpx;
        left: 0;
        position: absolute;
        z-index: 0;
        top: 0;
        height: 38rpx;
        text-align: center;
        line-height: 38rpx;
        z-index: 1;
        color: rgba(255, 255, 255, 1) !important;
      }
    }
    &.no-active{
      pointer-events: none;
      background: #eee;
    }
	}
}